.about-us {
  // height: calc(100vh - 60px - 54px);
  // width: 70vw;
  color: white;
  text-align: center;
  margin: auto;
  padding: 3rem 1rem;
  background-image: url("../images/about-us-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  p {
    max-width: 700px;
    font-size: 1.4rem;
    margin: 0 auto;
  }
}

.our-story {
  h2 {
    text-align: center;
  }
  margin: 0 auto;
  max-width: 700px;
  padding: 3rem 1rem;
}