.about-us {
  height: calc(100vh - 60px - 54px);
  // width: 70vw;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 3rem;
  background-image: url("../images/about-us-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  section.description {
    text-align: center;
    max-width: 600px;
    margin: auto;
  }

  p {

    font-size: 1.4rem;
  }
}